/**
 * Float Layout Activity
 **/

 * {
    box-sizing: border-box;
    text-align: center;
    align: center;
  }
  
  body {
      font-family: Arial, Helvetica, sans-serif;
      color: #777;
      background: #777;
      font-size: 18px;
  }
  
  #header {
    padding: 20px;
    margin-bottom: 10px;
    background: #ebebeb;
    margin-left: 300px;
    margin-right: 300px;
  }

  #nav {
    padding: 20px;
    margin-bottom: 20px;
    background: #ebebeb;
    margin-left: 300px;
    margin-right: 300px;
  }
  
  #section {
    float: left;
    width: 800px;
    padding: 20px;
    margin-right: 20px;
    background: #ebebeb;
    margin-left: 300px;
  }

  #article{
    color: #ebebeb;
    background: #777;
    padding: 20px;
    margin-bottom: 5px;
}

h3{
  color: #777;
  background: #ebebeb;
  padding: 10px;
}

#ap{
  color: #777;
  background: #ebebeb;
  padding: 30px;
}
  
  #aside {
    float: left;
    width: 483px;
    height: 408px;
    padding: 20px;
    margin-bottom: 20px;
    background: #ebebeb;
    margin-right: 300px;
  }
  
  #footer{
      clear: both;
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 20px;
    background: #ebebeb;
    margin-left: 300px;
    margin-right: 300px;
  }
  
  